.col1{
display: flex;

}
@keyframes b1  {
    0%   {color: red;}
    15% {color :darkviolet}
    25%  {color: yellow;}
    35% {color :deeppink}
    50%  {color: blue;}
    75% {color: orange;}
    85% {color :crimson}
    100% {color: green;}
  }
.b1{
    /* width: 100px; */
    gap: 10px;
    margin-left: 10px;
    animation-name:b1 ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-color: rgb(229, 245, 255);
    background-color: rgb(229, 245, 255);
    border-left: rgb(229, 245, 255);
    border-top: rgb(229, 245, 255);
    border-bottom: rgb(229, 245, 255);
    border-right: rgb(229, 245, 255);
}
.d1{
    font-size: 15px;
    margin-top: 300px;
   
}
.d2{
    font-size: 15px;
    margin-top: 250px;
   
}
.d3{
    font-size: 15px;
    margin-top: 270px;
   
}
.d4{
    font-size: 15px;
    margin-top: 300px;
   
}
.d5{
    font-size: 15px;
    margin-top: 250px;
   
}
.d6{
    font-size: 15px;
    margin-top: 270px;
   
}
.d7{
    font-size: 15px;
    margin-top: 300px;
   
}
.d8{
    font-size: 15px;
   
    margin-top: 250px;
   
}
.d9{
    font-size: 15px;
   
    margin-top: 270px;
   
}
.d10{
    font-size: 15px;
    margin-top: 300px;
   
}
.d11{
   font-size: 14px;
   width: 65px;
    margin-top: 250px;
   
}