


@keyframes pa1 {
    0% {
      /* transform: translateX(10px); */
      transform: translateX(-500px);
    }
    50% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0);
    }
  }
.pa1{
  animation: pa1 2s ease-in;

    font-family: monospace;
    color: rgb(125, 187, 249);
    font-size: 20px;
}
.maina{
    font-size: 30px;
    font-family: monospace;
    color: rgb(14, 104, 194);

}
.mm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    

}
.main_about{
    width: 50%;
    margin: 40px;
    border: 2px ridge;
}
.image{
  width: 100vw;
  height: 97vh;
  background-color: rgba(0, 0, 0, 0.559);
  position: absolute;
  overflow-y: hidden;

}
.cr{
  width: 50px;
  height: 50px;
  background-color: blue;
  position: relative;
  top: 100px;
  left: 100px;
}
.pa12{
  animation: pa1 2s ease-in;

  font-family: monospace;
  color: rgb(125, 187, 249);
  font-size: 25px;
}
